<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>

<p><%= @restaurant.address %></p> 
<p><%= @restaurant.phone_number %></p>

<%= link_to 'add a review', new_restaurant_review_path(@restaurant) %>

<% @restaurant.reviews.each do |review| %>
    <div class="review">
        <% review.rating.times do %> 
            <span class="star gold">a</span>
        <% end %>
        <% (5 - review.rating).times do %>
            <span class="star grey">x</span>
        <% end %>

        <p><%= review.content %></p>
    </div>
<% end %>

<%= link_to 'back', restaurants_path %>
